{
	"plugins": [
		[
			"module-resolver", {
				"root": ["."],
				"alias": {
					"styles": "./styles",
					"json": "./json",
					"utils": "./utils",
					"config": "./config"
				},
				"cwd": "babelrc"
			}
		],
		[
			"wrap-in-js", {
				"extensions": ["css$", "scss$"]
			}
		],
		"transform-inline-environment-variables",
		"babel-plugin-dotenv",
		"inline-react-svg"
	],
	"presets": [
		"./config/babel-preset"
	],
	"ignore": []
}
